* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contact {
  width: 93%;
  height: 600px;
  border-radius: 20px;
  background-image: url(background-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
  box-shadow: 5px 5px 10px;
  padding: 10px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.form {
  width: 70%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.315);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-1 {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  margin-left: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
  'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
}

#nombre {
  width: 400px;
  height: 50px;
  border-radius: 15px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
  'Trebuchet MS', sans-serif;
  font-size: 30px;
  border: white;
  box-shadow: 5px 5px 10px;
}

#correo {
  width: 400px;
  height: 50px;
  border-radius: 15px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
  'Trebuchet MS', sans-serif;
  font-size: 30px;
  border: white;
  box-shadow: 5px 5px 10px;
}

#comments {
  width: 90%;
  height: 50%;
  border-radius: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
  'Trebuchet MS', sans-serif;
  padding: 5PX;
  font-size: 20px;
  border: white;
  box-shadow: 5px 5px 10px;
}

.button__comments {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 20%;
  margin-top: 10px;
}